# Assignment Title: PA2
## Course Name: CS 150 

**Author:** Sima Shefai 
**Semester:** Spring 2026

## Task 1: Personal Information

**Question:**  
Create variables to store the following personal information:
- Name  
- Age  
- Height  
- Favorite color

In [11]:
name = "Tasnia"
age = 18
height = "5 feet 4 inches"
favorite_color = "Brown"
print("My name is", name, ", I am", age, "years old,", 
      "my height is", height, "and my favorite color is", favorite_color)

My name is Tasnia , I am 18 years old, my height is 5 feet 4 inches and my favorite color is Brown

## Task 2: Distance Conversion

**Question:**  
Create a variable to store a distance in miles, convert it to kilometers using the formula  
kilometers = miles × 1.60934,  
and print a message showing both values.

In [12]:
miles_distance = 10
kilometers = miles_distance * 1.60934

print(
    "The distance is", miles_distance, 
    "miles, which is the equivalent of", kilometers, "kilometers.")

The distance is 10 miles, which is the equivalent of 16.0934 kilometers.

## Task 3: Working with Running Times

**Question:**  
Create two variables representing running times (in minutes).  
Using these variables, calculate and print:
1. The total time spent running  
2. The difference between the two runs  
3. The time for doing the second run twice  
4. The average running time

In [13]:
run1 = 30
run2 = 25


total_time = run1 + run2
print("Total time spent running:", total_time, "minutes")
improvement = run1 - run2
print("Difference between run1 and run2:", improvement, "minutes")
double_run2 = run2 * 2
print("Time for doing run2 twice:", double_run2, "minutes")
average_time = (run1 + run2) / 2
print("Average running time:", average_time, "minutes")

Total time spent running: 55 minutes
Difference between run1 and run2: 5 minutes
Time for doing run2 twice: 50 minutes
Average running time: 27.5 minutes

## Task 4: String Manipulation

**Question:**  
Create a string variable containing a famous quote.  
Using this string, perform and display the following:
1. The length of the quote  
2. The quote in uppercase and lowercase  
3. The quote with leading and trailing whitespace removed  
4. The quote split into a list of words

In [14]:
myvar = "   The only way to do great work is to love what you do.   "

print(len(myvar))
print(myvar.upper())
print(myvar.lower())
print(myvar.strip())
print(myvar.strip().split())

59
   THE ONLY WAY TO DO GREAT WORK IS TO LOVE WHAT YOU DO.
   the only way to do great work is to love what you do.
The only way to do great work is to love what you do.
['The', 'only', 'way', 'to', 'do', 'great', 'work', 'is', 'to', 'love', 'what', 'you', 'do.']

## Task 5: User Input and Operations

**Question:**  
Use the Pythagorean theorem to compute the hypotenuse of a right triangle.  

Steps:  
1. Prompt the user to enter the lengths of the two legs (a and b).  
2. Compute the hypotenuse using the formula: c = √(a² + b²)  
3. Print the hypotenuse rounded to the nearest hundredth in the format:  
   “The hypotenuse of your triangle is <c> units.”

In [15]:
import math  


a = float(input("Enter the length of the first leg (a): "))
b = float(input("Enter the length of the second leg (b): "))

c = math.sqrt(a**2 + b**2)


print(f"The hypotenuse of your triangle is {round(c, 2)} units.")

Enter the length of the first leg (a):  4
Enter the length of the second leg (b):  8

The hypotenuse of your triangle is 8.94 units.